<div class="app-container">
  <!-- Header -->
  <div class="header">
    <div class="left">
      <button class="menu-button" (click)="toggleDashboardSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <a routerLink="/" class="logo">
        <i class="fab fa-youtube"></i>
        <span>YouCDN</span>
      </a>
    </div>

    <!-- Right side of header -->
    <div class="right">
      <button *ngIf="!isLoggedIn()" class="sign-in-button" (click)="openAuthModal()">
        <i class="fas fa-user-circle"></i>
        <span>Sign In</span>
      </button>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
</main>

  <!-- Auth Modal -->
  <app-auth-modal *ngIf="showAuthModal" (close)="closeAuthModal()"></app-auth-modal>
</div> 